<div class="user panel radius">
    <div class="collapse row">
        <div class="three columns">
            <%= image_tag user.avatar_url, class: 'avatar' %>
        </div>
        <div class="nine columns">
            <p><%= user.screen_name %></p>
            <p><%= user.bio %></p>
        </div>
    </div>
</div>
