<div class="row">
    <div class="six columns push-six">
        <%= render @user %>       
    </div>
    <div class="six columns pull-six">        
        <div class="radius panel">
            <h4 class="title">
                <%= @user.screen_name %>'s bleats
            </h4>
        </div>

        <%= render @user.bleats %>
		
	</div>
</div>
