<div class="row">
    <div class="six columns">        
        <div class="radius panel">
            <div class='actions'>            
                <% if can? :update, @user %>
                    <a href="#" data-reveal-id="compose">
                        <i class="general foundicon-plus"></i>
                    </a>
                <% end %>
            </div>
            <h5 class="title">
                <%= @user.screen_name %>'s bleats
            </h5>
        </div>

        <%= render @user.bleats %>
		
	</div>
    <div class="six columns">
        <%= render @user %>       
    </div>
</div>

<div id="compose" class="reveal-modal medium">
    <a class="close-reveal-modal">&#215;</a>
    <%= render "bleats/form" %>
</div>
