<div class="bleat panel radius">
    <div class="collapse row">
        <%= link_to bleat, method: :delete, class: 'right', data: { confirm: 'Are you sure?' } do %>
            <i class="general foundicon-trash"></i>
        <% end %>
        <div class="three columns">
            <%= image_tag bleat.user.avatar_url, class: 'avatar' %>
        </div>
        <div class="nine columns">
            <%= link_to bleat.user.screen_name, bleat.user %>
            <p><%= bleat.content %></p>
        </div>
    </div>
</div>
