<div class="bleat panel radius">
    <div class="collapse row">
        <div class='actions'>
            <% if can? :destroy, bleat %>
                <%= link_to bleat, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="general foundicon-trash"></i>
                <% end %>
            <% end %>
        </div>
        <%= image_tag bleat.user.avatar_url, class: 'avatar' %>
        <div class='content'>
            <h6><%= link_to bleat.user.screen_name, bleat.user %></h6>
            <p><%= linkify_content bleat.content %></p>
        </div>
    </div>
</div>
