<div class="bleat panel radius">
    <div class="collapsed row">
        <div class="three columns">
            <%= image_tag bleat.user.avatar_url, class: 'avatar' %>
        </div>
        <div class="nine columns">
            <%= link_to bleat.user.screen_name, bleat.user %>
            <p><%= bleat.content %></p>
        </div>
    </div>
</div>
