<div class="row">
    <div class="six columns">
        
        <div class="radius panel">
            <h5 class="title"><%= @tag %></h5>
        </div>

        <%= render @bleats %>

    </div>
    <div class="six columns">
        
    </div>
</div>
