<% cache do %>
    <div id="welcome" class="radius callout panel">
        <h4 class="subheader">Welcome to Bleater!</h4>
        <p><%= link_to 'Sign in', :new_user_session, :class => 'small round button' %> or
           <%= link_to 'Sign up', :register_user, :class => 'small round button' %> to get started.</p>
    </div>
<% end %>
