<div class="row">
    <div class="six columns push-six">
        <% unless signed_in? %>
            <%= render 'home/welcome' %>
        <% end %>
        
        <div class="radius panel">
            <h5 class="title">
                Trending
            </h5>
            <ul class="trending">
                <% @trending_tags.each do |tag| %>
                   <li>
                       <%= link_to tag, controller: 'search', action: 'trending', tag: tag %>
                   </li>
                <% end %>
            </ul>
        </div>
    </div>
	<div class="bleats six columns pull-six">
		
        <div class="radius panel">
            <h4 class="title">Recent Bleats</h4>
        </div>

		<%= render @bleats %>

	</div>
</div>
	