// Place all the styles related to the Bleats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bleat .avatar {
  float: left;
  width: 60px;
}

.bleat .user_details .user_link {
  float: left;
  margin-top: 16px;
}
