<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!-- Basic Needs -->
	<nav class="top-bar">
	  <ul>
	    <li class="name"><h1><a href="/">Simple Blog</a></h1></li>
	  </ul>
	</nav>

<%= yield %>

</body>
</html>
